<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="POST" class="post-form">{% csrf_token %}
            <p><label for="id_title">Title:</label> <input type="text" name="text" required id="id_title" /></p>
            <button type="submit" class="save btn btn-default">Delete</button>
        </form>
</body>
</html>