<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <a href= {% url 'rmapp:task_list'%}> <h1>Tasks</h1> </a> <br>
    {% for trash in trashes %}
   <a href="/trashview/{{trash.id}}">
       <img src="/static/trash.jpeg" title="{{trash.path_trash}}">
   </a>
    {% endfor%}
    <a href="/trashnew">
       <img src="/static/plus.png" width="80">
   </a>

</body>
</html>