<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href= {% url 'rmapp:task_new'%}>Add</a>
    <a href= {% url 'rmapp:index'%}>Main page</a>

    {% if tasks %}
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Trash</th>
                <th>Dry-run</th>
                <th>Restore</th>
                <th>Regex</th>
                <th>Run</th>
            </thead>

            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href= {% url 'rmapp:task_detail' task.pk %}>{{ task }}</a></td>
                        <td>{{ task.wastebasket }}</td>
                        <td>{{ task.dry_run }}</td>
                        <td>{{ task.restore }}</td>
                        <td>{{ task.regex }}</td>
                        <td><a href= {% url 'rmapp:task_result' task.pk %}>RUN</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            No tasks found
        </div>
    {% endif %}

</body>
</html>

