<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New task</h1>
        <form method="POST">
            {% csrf_token %}

            <table class="table">
                {{ form.as_table }}
            </table>

            <button type="submit" class="btn btn-primary">
                Save
            </button>

        </form>
</body>
</html>
