<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TASK</title>
     <div class="container">
        <form method="POST">
            {% csrf_token %}

            <table class="table">{{ form.as_table }}</table>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
    </div>
</head>
<body>

</body>
</html>