<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p>Path: {{trash.path_trash}}</p>
<p>Capacity: {{trash.capacity}}</p>
<p>Policy: {{trash.policy}}</p>
<a>
<form method="POST" class="post-form"> {% csrf_token %}
    {% for i in res %}
        <p>{{ i.id }} {{i.name}} {{ i.path }} <input type="checkbox" name="file" value={{i.id}}></p>
    {% endfor%}
    <button type="submit" class="save btn btn-default">Recover</button>
</form>
    <a href= {% url 'rmapp:del' trash.id %}> Delete file</a>
    <a href={% url 'rmapp:trash_delete' trash.id%}>Delete trash</a>
</body>
</html>